* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #49738f;
    font-family: Arial, sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-box {
    background: #fff;
    padding: 40px 30px;
    border-radius: 10px;
    width: 350px;
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
    text-align: center;
}

.login-box .avatar {
    width: 80px;
    margin-bottom: 20px;
}

.login-box h2 {
    margin-bottom: 25px;
    font-size: 24px;
    color: #222;
}

.login-box label {
    display: block;
    text-align: left;
    font-weight: bold;
    margin-bottom: 5px;
    margin-top: 15px;
    color: #444;
}

.login-box input[type="text"],
.login-box input[type="password"] {
    width: 100%;
    padding: 12px;
    margin-bottom: 10px;
    border: none;
    background: #f1f1f1;
    border-radius: 5px;
    font-size: 14px;
}

.login-box input[type="submit"] {
    width: 100%;
    background: #22597e;
    color: #fff;
    padding: 12px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    margin-top: 15px;
    transition: background 0.3s ease;
}

.login-box input[type="submit"]:hover {
    background: #22597e;
}

.erro-login {
    color: #ff0019;
    background-color: #ffffff;
    border: 1px solid #ffffff;
    padding: 10px;
    border-radius: 5px;
    margin-top: 25px;
    font-size: 14px;
    font-weight: bold;
    text-align: left;
}



.forgot {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.9em;
    margin-top: 15px;
}

.forgot label {
    display: flex;
    align-items: center;
    gap: 5px;
    color: #333;
}

.forgot a {
    color: #439ad4;
    text-decoration: none;
}



/* Formulário de Criar Conta */
.login-box {
    background: #fff;
    padding: 40px 30px;
    border-radius: 10px;
    width: 350px;
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
    text-align: center;
}

.login-box h2 {
    margin-bottom: 25px;
    font-size: 24px;
    color: #222;
}

.login-box label {
    display: block;
    text-align: left;
    font-weight: bold;
    margin-bottom: 5px;
    margin-top: 15px;
    color: #444;
}

.login-box input[type="text"],
.login-box input[type="email"],
.login-box input[type="password"] {
    width: 100%;
    padding: 12px;
    margin-bottom: 10px;
    border: none;
    background: #f1f1f1;
    border-radius: 5px;
    font-size: 14px;
}

.login-box input[type="submit"] {
    width: 100%;
    background: #22597e;
    color: #fff;
    padding: 12px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    margin-top: 15px;
    transition: background 0.3s ease;
}

.login-box input[type="submit"]:hover {
    background: #22597e;
}

.erro-login {
    color: #ff0019;
    background-color: #ffffff;
    border: 1px solid #ffffff;
    padding: 10px;
    border-radius: 5px;
    margin-top: 25px;
    font-size: 14px;
    font-weight: bold;
    text-align: left;
}

.login-link {
    margin-top: 15px;
    font-size: 14px;
}

.login-link a {
    color: #439ad4;
    text-decoration: none;
}

.login-link a:hover {
    text-decoration: underline;
}
