@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600&display=swap');

body {
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    background-color: #1c1c1c;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 40px;
    font-family: 'Bebas Neue', sans-serif;
}

nav a {
    color: white;
    text-decoration: none;
}

.logo {
    margin-top: 30px;
    margin-bottom: 15px;
}

/* ------------------- ÁREA PROTEGIDA ------------------- */

.cadNovaSerie{
    max-width: 1200px;
    margin: 30px auto;
    background-color: rgb(185, 185, 185);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
    font-family: 'Nunito', sans-serif;
}

.add {
    margin-top: 5px;
}

.topicos{
    display: block;
    margin-top: 15px;
    font-size: 17px;
}

.insercoes, .btnCadastrar{
    width: 100%;
    padding: 7px;
    margin-top: 3px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.btnCadastrar {
    background-color: green;
    color: white;
    border: none;
    margin-top: 30px;
    cursor: pointer;
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
}

.btnCadastrar:hover {
    background-color: rgb(1, 90, 1);
}

/* ----------------------- INDEX ----------------------- */

